div, p, span, li, ol, ul {
    box-sizing: border-box;
}
.content-container {
    height: 100%;
    background: #fff;
    padding: 15px;
    box-sizing: border-box;
}
.pagination-container {
    padding-bottom: 57px;
}
